/* кнопки */
.button {
    padding: 8px 43px !important;
    background: var(--gradient);
    border-radius: 20px;
    border: none !important;
    color: var(--white);
    font-size: var(--input-font-size);
    max-width: max-content;

    cursor: pointer;
}
.button:hover {
    opacity: 70%;
}

.text-button {
    border: none;
    background-color: var(--white);
    text-decoration: underline;

    cursor: pointer;
}

.image-button {
    display: flex; align-items: center;
    gap: 10px;
    cursor: pointer;
}


/* кнопка с градиентным контуром */
.outlined-button {
    padding: 8px 43px;
    max-width: max-content;
    cursor: pointer;
    position: relative;
    font-size: var(--input-font-size);

    background: none;
    border: none;
    z-index: 0;
}
.outlined-button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    border: 1px solid transparent;
    background: var(--gradient) border-box;
    mask: linear-gradient(#fff 0 0) padding-box, 
          linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, 
                  linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    box-sizing: border-box;
    z-index: -1;
}


.a {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    cursor: pointer;
}


/* поля ввода */
/* стоит ли делать класс? */
input:not(input[type=checkbox]), select {
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid var(--border);
    padding: 7px 14px;

    font-size: var(--input-font-size);
    font-weight: 300;

    min-width: 280px;
}

textarea {
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid var(--border);
    padding: 7px 14px;

    font-size: var(--input-font-size);
    font-weight: 300;

    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 50px;
}


form {
    width: 70%;
}