:root {
    /* цвета */
    --white: white;
    --light-grey: #EDECF0;
    --gradient: linear-gradient(129deg, #4F52FF 0%, #B441DC 38%, #DC415D 100%);
    --border: #64666A;
    --placeholder: #848891;
    --light-text: #BABAC3;

    /* размеры шрифта (исходя из шрифтовой сетки) */
    --h1-size: 32px;
    --h2-size: 24px;
    --h3-size: 22px;
    --text-size: 16px;
    --info-size: 12px; /* название переменной спорное */
    
    --input-font-size: 14px;
}